---
import Navbar from "../components/Navbar"
import '../styles/index.css'
import Background from "../../public/wallpaper.jpg"
import Contacts from '../components/Contacts'
import Contact from '../components/Contact'
---

<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bl4ckdestinyXX - Portfolio</title>
</head>
<body>
<Navbar />
    <div class="container">
        <div class="row">
            <div class="col">
                <Contacts />
            </div>
            <div class="col">
                <Contact />
            </div>
        </div>
    </div>
    <style>
        body {
            background-image: url("/wallpaper.jpg");
            background-repeat: none;
        }
    </style>
</body>
</html>