<div id="intestation" class="container">
    <h1 id="title" class="display-6">Bl4ckdestinyXX</h1>
    <hr>
    <p id="introduction">
        Sono un giovane sviluppatore, appassionato di videogiochi.
        <br>Il mio sogno sarebbe quello di andare a lavorare in una grande azienda.
        <br>Se quando comincerò a lavorare esisterà ancora, vorrei lavorare a <a href="https://discord.com">Discord.</a>
        Ho cominciato qualche anno fa imparando HTML e CSS, provando poi a imparare PHP e MySQL, fallendo miseramente.<br>
        Ho poi imparato, durante l'estate, il Javascript, quello che sarà in seguito il linguaggio da me più utilizzato.<br>
        In seguito ho imparato il C++, anche se non l'ho mai utilizzato molto.<br>
        Ci sono poi stati alcuni mesi dove ho studianto le basi di vari linguaggi, tra cui Java, Python, C# e C.<br>
        Mi sono poi, in questi ultimi mesi, cimentato a raffinare le mie abilità con il Javascript, imparando anche MongoDB, React, Typescript e Next.js.<br>
        Attualmente mi occupo principalmente di creare bot Discord e siti web, con Javascript, Node.js e MongoDB.<br>
        Mi piace anche aiutare le persone, quindi, se avete problemi con il vostro codice, scrivetemi su Discord e vi aiuterò senza problemi.
    </p>
</div>
<style>
    #title {
        margin-top: 100px;
    }
    #intestation {
        float: center;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
